<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a href="https://www.facebook.com/cipp2017" class="brand-logo">
      <span class="hide-on-med-and-down">{{ title }}</span>
      <span class="hide-on-large-only">{{ shortTitle }}</span>
    </a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-default" class="right hide-on-med-and-down">
      <li [class]="filterType=='All' ? 'active' : ''"><a href="#" (click)="setFilter('All')">All</a></li>
      <li [class]="filterType=='CoE' ? 'active' : ''"><a href="#" (click)="setFilter('CoE')">CoE</a></li>
      <li [class]="filterType=='ICT' ? 'active' : ''"><a href="#" (click)="setFilter('ICT')">ICT</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li [class]="filterType=='All' ? 'active' : ''"><a href="#" (click)="setFilter('All')">All</a></li>
      <li [class]="filterType=='CoE' ? 'active' : ''"><a href="#" (click)="setFilter('CoE')">CoE</a></li>
      <li [class]="filterType=='ICT' ? 'active' : ''"><a href="#" (click)="setFilter('ICT')">ICT</a></li>
    </ul>
  </div>
</nav>

<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

<router-outlet></router-outlet>
